em#code {
	font-family: "Bitstream Vera Sans Mono", monospace;
	font-size: 0.9em;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
	font-style: normal;
	background-color: #F0F0F0;
	border: outset #FFFFFF 1px;
}

a#source {
	font-family: "Bitstream Vera Sans Mono", monospace;
	font-size: 0.85em;
}
a#source:link, a#source:visited, a#source:hover {
	text-decoration: none;
}
a#source:hover {
	background-color: #F2F2F2;
}
a:visited {
	color: #5882FA;
}

